<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Dedicated log file (var/log/launchoms_order_push.log) so pushes are
         easy to find/tail without wading through the general system.log. -->
    <virtualType name="LaunchOms\OrderPush\Logger\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">launchoms_order_push</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">LaunchOms\OrderPush\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="LaunchOms\OrderPush\Observer\PushOrderObserver">
        <arguments>
            <argument name="logger" xsi:type="object">LaunchOms\OrderPush\Logger\Logger</argument>
        </arguments>
    </type>
</config>
